.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    opacity: 0.9;
    background: linear-gradient(
        90deg,
        rgb(9, 55, 112) 0%,
        rgb(17, 125, 152) 100%
    );
    color: black;
}
